<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Rashi - Your own cryptocurrency</title>

    <!-- Bootstrap Css files -->
    <!-- Latest compiled and minified CSS -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> 
    <style>
        body{
            padding-top: 70px;
            /*background-color: #bbb;*/
            background-image: url("images/b1.jpg");
            background-repeat: no-repeat;
        }
        #node-addresses{
            height: 100px;
            overflow-y: scroll;
        }
        .main-section{
            background-color: #fff;
            height:500px;
            box-shadow: 10px 10px 5px grey;
            padding: 10px;
        }
    </style>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Rashi <small> - Your Own Cryptocurrency</small></a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/admin">Presentation</a></li>
                <li><a href="/docs">Docs</a></li>
                <li><a href="/nodes/resolve">Sync</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 main-section">
                <div class="row">
                    <div class="col-md-4" style="text-align: center; padding-top: 20px; ">
                        <img src="images/icon.png"/><br><br>
                        <h3>Lorem Ipsum</h3>
                        <p>Public Key : {{blockchain.public_key}}</p>
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal">Show Private Key</button>
                        <br><br>
                        <p>Balance : <b>{{ blockchain.balance}} Rashi(s)</b></p>
                    </div>
                    <div class="col-md-8">
                        <div class="buttons text-right">
                            <a class="btn btn-primary" href="\send-rashi">Send</a>&nbsp;&nbsp; 
                            <a class="btn btn-primary" href="\purchase-rashi">Purchase</a>
                        </div>
                        <br>
                        <br>
                        <h4>Your Transactions</h4>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Sender</th>
                                        <th>reciever</th>
                                        <th>Rashi(s)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for block in blockchain.chain %}
                                        {% for trans in block.transactions %}
                                            {% if blockchain.public_key in trans.values() %}
                                            {% set is_any_transaction = 1 %}
                                            <tr>
                                                <td>{{ trans.sender }}</td>
                                                <td>{{ trans.reciever }}</td>
                                                <td>{{ trans.amount }}</td>
                                            </tr>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Your Private Key</h4>
      </div>
      <div class="modal-body">
        <p><b>{{blockchain.private_key}}</b></p>
        <p>Do not share this private key with someone else.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="myFunction()">Copy</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>