<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Rashi - Your own cryptocurrency</title>

    <!-- Bootstrap Css files -->
    <!-- Latest compiled and minified CSS -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> 
    <style>
        body{
            padding-top: 70px;
            /*background-color: #bbb;*/
            background-image: url("images/b1.jpg");
            background-repeat: no-repeat;
        }
        #node-addresses{
            height: 100px;
            overflow-y: scroll;
        }
        .main-section{
            background-color: #fff;
            box-shadow: 10px 10px 5px grey;
            padding: 10px;
        }
    </style>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Rashi <small> - Your Own Cryptocurrency</small></a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Home</a></li>
                <li class="active"><a href="#">Docs</a></li>
                <li><a href="#">Page 2</a></li>
                <li><a href="#">Page 3</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-10 main-section">
                <img src="Cryptography-and-Blockchain-Infographic.jpg">

            </div>
        </div>
    </div>
</body>
</html>