<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Rashi - Your own cryptocurrency</title>

    <!-- Bootstrap Css files -->
    <!-- Latest compiled and minified CSS -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> 
    <style>
        body{
            padding-top: 70px;
        }
        #node-addresses{
            height: 100px;
            overflow-y: scroll;
        }
    </style>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Rashi <small> - Your Own Cryptocurrency</small></a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/admin">Presentation</a></li>
                <li><a href="/docs">Docs</a></li>
                <li><a href="/nodes/resolve">Sync</a></li>
            </ul>
        </div>
    </nav>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body" style="text-align:center;">
                        <img src="images/wallet2.png"><br>
                        <a class="btn btn-link" href="/dashboard">Generate Wallet</a>
                    </div>
                </div>
            </div>
        </div>
   
</body>
</html>