<!DOCTYPE html>
<html lang="zxx">

<head>
  <title>Rashi - Your Own Cryptocurrency</title>
  <!--meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>
    addEventListener("load", function () {
      setTimeout(hideURLbar, 0);
    }, false);


    function hideURLbar() {
      window.scrollTo(0, 1);
    }
  </script>
  <style>
    .social-icons{
      text-align: right !important;
    }
  </style>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <!-- //font-awesome icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!--stylesheets-->
  <link href="{{ url_for('static', filename='css/style.css')}}" rel='stylesheet' type='text/css' media="all">
  <!--//stylesheets-->
  <link href="//fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
</head>

<body>
  <!-- //banner -->
     <div class="banner-left-side" id="home">
      <!-- header -->
      <div class="headder-top d-sm-flex justify-content-sm-between">
        <!-- nav -->
        <nav class="text-center">
          <label for="drop" class="toggle">Menu</label>
          <input type="checkbox" id="drop">
          <ul class="menu mt-2">
            <li class="active"><a href="index.html">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#service">Services</a></li>
          </ul>

        </nav>
		  	<!-- <div id="logo">
            <h1 class="text-center"><a href="index.html">peek</a></h1>
          </div> -->
		<div class="social-icons text-sm-right pt-2">
        <ul>
          <li class="facebook">
            <a href="#">
              <span class="fa fa-facebook"></span>
            </a>
          </li>
          <li class="twitter">
            <a href="#">
              <span class="fa fa-twitter"></span>
            </a>
          </li>
          <li class="rss mr-lg-3">
            <a href="#">
              <span class="fa fa-linkedin"></span>
            </a>
          </li>
        </ul>
      </div>
        <!-- //nav -->
	  </div>
      <!-- //header -->
      <!-- banner -->
      <div class="main-banner text-center">
        <div class="container">
          <div class="banner-right-txt">
            <h5 class="mb-lg-4 mb-md-3 mb-2">Introducing</h5>
			  <h4><span class="colo-change">R</span>as<span class="colo-change">H</span>i (<span class="colo-change">रा</span>शि)</h4>
          </div>
          <div class="slide-info-txt">
            <p>Presenting before you, your very own cryptocurrency bringing next big revolution in the domain of blockchain</p>
          </div>
		  	 <div class="view-buttn mt-lg-5 mt-md-4 mt-3">
            <a href="/wallet" >Join the revolution</a>
          </div>
        </div>
      </div>
    </div>
    <!-- //banner -->
	<!-- about -->
 